#### Idea1: Can we improve yield prediction for different crops across different counties in the US? Understanding crop yield data is essential to ensure food security and climate change, and changes in weather patterns are affecting crop yield throughout. The goal of this project is to be able to predict the yield of crops in the US using publicly available datasets on weather, soil quality, amount of crop irrigated and other features. 

#### This project predicts the yield of wheat in different counties in the US. The datasets for this project is from https://github.com/aerialintel/data-science-exercise and includes data for both 2013 and 2014. 


#### The 2013 and 2014 dataset is loaded here.

In [23]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
import datetime as dt
from scipy import stats

%matplotlib inline

In [24]:
#### Reading in dataset

In [25]:
df1_2013 = pd.read_csv('Wheat2013.csv',header = 0)
df1_2014 = pd.read_csv('Wheat2014.csv',header = 0)

In [26]:
df1_2013['precipIntensity'].head(10)

0    0.0000
1    0.0001
2    0.0001
3    0.0002
4    0.0003
5    0.0000
6    0.0000
7    0.0000
8    0.0000
9    0.0000
Name: precipIntensity, dtype: float64

In [28]:
df1_2014.head(20)

,CountyName,State,Latitude,Longitude,Date,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,DayInSeason,Yield
0,Adams,Washington,46.929839,-118.352109,11/30/2014 0:00,18.61,-3.01,0.00,6.77,0.69,...,0,1027.95,23.93,6.96,10.00,9,3.80,136.179718,0,35.6
1,Adams,Washington,47.150327,-118.958859,11/30/2014 0:00,19.67,-0.74,0.00,6.66,0.65,...,0,1028.26,25.88,8.71,10.00,352,6.03,135.697540,0,35.6
2,Adams,Washington,46.811686,-118.695237,11/30/2014 0:00,20.66,-0.14,0.00,6.55,0.67,...,0,1028.29,24.67,8.26,10.00,25,3.59,135.676956,0,35.6
3,Adams,Washington,47.162342,-118.699677,11/30/2014 0:00,19.69,-2.66,0.03,7.32,0.69,...,0,1027.74,25.48,8.10,10.00,1,5.18,135.005798,0,35.6
4,Adams,Washington,47.157512,-118.434056,11/30/2014 0:00,18.82,-3.04,0.04,7.62,0.70,...,0,1027.16,24.83,8.32,9.99,5,4.69,134.803864,0,35.6
5,Adams,Washington,47.006888,-118.510160,11/30/2014 0:00,19.24,-2.58,0.04,7.45,0.70,...,0,1027.68,25.35,7.98,10.00,3,4.86,134.657471,0,35.6
6,Alfalfa,Oklahoma,36.508221,-98.454318,11/30/2014 0:00,56.86,10.06,0.04,21.74,0.51,...,0,1015.05,56.86,24.22,9.95,352,9.71,150.427856,0,29.3
7,Alfalfa,Oklahoma,36.650698,-98.444745,11/30/2014 0:00,56.32,9.57,0.04,20.59,0.49,...,0,1015.14,56.32,23.91,9.93,354,10.05,150.217865,0,29.3
8,Alfalfa,Oklahoma,36.702452,-98.319893,11/30/2014 0:00,56.89,9.68,0.05,20.80,0.50,...,0,1015.13,56.89,24.06,9.93,352,10.01,150.143112,0,29.3
9,Alfalfa,Oklahoma,36.628781,-98.539816,11/30/2014 0:00,56.15,9.32,0.04,20.10,0.49,...,0,1015.16,56.15,23.79,9.92,354,10.13,149.340576,0,29.3
10,Alfalfa,Oklahoma,36.988813,-98.404629,11/30/2014 0:00,52.51,8.05,0.04,18.12,0.50,...,0,1015.43,52.51,22.64,9.93,0,11.89,148.109497,0,29.3
11,Alfalfa,Oklahoma,36.995835,-98.330851,11/30/2014 0:00,52.53,8.14,0.04,18.33,0.50,...,0,1015.41,52.53,22.69,9.94,0,11.86,148.044052,0,29.3
12,Allen,Kansas,37.829639,-95.517856,11/30/2014 0:00,58.43,12.48,0.08,32.08,0.70,...,0,1014.64,58.43,25.28,9.23,347,5.70,147.534317,0,41.1
13,Allen,Kansas,37.935840,-95.296974,11/30/2014 0:00,59.09,13.32,0.10,33.33,0.71,...,0,1014.73,59.09,25.75,9.24,344,5.21,146.811249,0,41.1
14,Allen,Kansas,37.775503,-95.517707,11/30/2014 0:00,59.72,13.36,0.08,33.35,0.71,...,0,1014.36,59.72,25.90,9.22,344,5.04,146.530029,0,41.1
15,Allen,Kansas,37.886401,-95.403039,11/30/2014 0:00,58.49,12.72,0.08,32.27,0.70,...,0,1014.68,58.49,25.50,9.26,346,5.53,145.926437,0,41.1
16,Allen,Kansas,37.944904,-95.158686,11/30/2014 0:00,59.34,13.76,0.09,33.89,0.71,...,0,1014.74,59.34,26.09,9.27,341,4.91,145.495316,0,41.1
17,Allen,Kansas,37.823955,-95.443337,11/30/2014 0:00,59.89,13.79,0.08,33.79,0.70,...,0,1014.34,59.89,26.28,9.26,342,4.86,144.933777,0,41.1
18,Anderson,Kansas,38.075769,-95.156842,11/30/2014 0:00,59.59,13.67,0.09,34.23,0.72,...,0,1014.71,59.59,26.04,9.23,338,5.83,146.811249,0,36.2
19,Anderson,Kansas,38.097944,-95.448330,11/30/2014 0:00,57.21,11.22,0.09,30.40,0.70,...,0,1015.02,57.21,24.28,9.19,347,6.74,146.463776,0,36.2

In [29]:
df1_2014_1 = df1_2014(['CountyName', 'Yield']).unique()

TypeError: 'DataFrame' object is not callable

In [ ]:
# Use all meteorological data, 5 different dates for each location with same yield value

In [30]:
df1_2014[['CountyName','Yield']].drop_duplicates()

      CountyName  Yield
0          Adams   35.6
6        Alfalfa   29.3
12         Allen   41.1
18      Anderson   36.2
24        Archer   21.5
...          ...    ...
965        Miami   50.1
14744     Carter   32.1
14869   Comanche   30.3
15464       Love   20.0
48646      Lamar   24.1

[173 rows x 2 columns]

In [6]:
## Converting date/time column to datetime format
df1_2013['Date'] = pd.to_datetime(df1_2013['Date'])
df1_2014['Date'] = pd.to_datetime(df1_2014['Date'])

In [7]:
# Adding a column for year for both datasets
df1_2013['year'] = df1_2013['Date'].dt.year
df1_2014['year'] = df1_2014['Date'].dt.year

In [8]:
### Standardizing data on a county basis, based on day in season, location of farm 
df2_2013 = df1_2013.groupby(['CountyName','State','DayInSeason'], as_index=False).agg({'apparentTemperatureMax':"mean", 'apparentTemperatureMin':"mean",
                                                                                     'cloudCover':"mean", 'dewPoint':"mean", 'humidity':"mean", "precipIntensity":"mean",
                                                                                      'precipIntensityMax':"mean",'precipProbability':"min",'precipAccumulation':"mean",
                                                                                      'precipTypeIsRain':"median", 'precipTypeIsSnow':"median",'precipTypeIsOther':"median",
                                                                                       'pressure':"mean", 'temperatureMax':"mean",
                                                                                       'temperatureMin':"mean", 'visibility':"mean", 'windBearing':"mean", 'windSpeed':"mean",
                                                                                       'NDVI':"mean", 'Yield':"mean", 'year':"max"})

In [9]:
df2_2013.head()

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
0,Adams,Washington,0,31.896667,24.838333,0.303333,29.483333,0.928333,0.000117,0.002250,...,0,1026.718333,34.068333,27.396667,2.825000,166.333333,1.380000,131.792425,35.7,2013
1,Adams,Washington,1,41.881667,28.278333,0.178333,37.350000,0.873333,0.006667,0.037267,...,0,1012.293333,47.500000,33.525000,6.580000,212.333333,7.953333,131.634992,35.7,2013
2,Adams,Washington,2,39.118333,20.125000,0.046667,25.056667,0.628333,0.000233,0.003500,...,0,1008.456667,46.168333,29.596667,9.913333,261.000000,8.965000,140.914810,35.7,2013
3,Adams,Washington,3,22.208333,6.820000,0.051667,9.633333,0.496667,0.000083,0.000700,...,0,1022.330000,31.915000,16.205000,9.670000,14.666667,10.800000,138.661329,35.7,2013
4,Adams,Washington,4,23.566667,1.811667,0.013333,5.556667,0.605000,0.000000,0.000000,...,0,1028.120000,26.183333,10.880000,9.990000,75.666667,2.691667,136.871195,35.7,2013

In [10]:
### Standardizing data on a county basis, based on day in season, location of farm 
df2_2014 = df1_2014.groupby(['CountyName','State','DayInSeason'], as_index=False).agg({'apparentTemperatureMax':"mean", 'apparentTemperatureMin':"mean",
                                                                                     'cloudCover':"mean", 'dewPoint':"mean", 'humidity':"mean", "precipIntensity":"mean",
                                                                                      'precipIntensityMax':"mean",'precipProbability':"min",'precipAccumulation':"mean",
                                                                                      'precipTypeIsRain':"median", 'precipTypeIsSnow':"median",'precipTypeIsOther':"median",
                                                                                       'pressure':"mean", 'temperatureMax':"mean",
                                                                                       'temperatureMin':"mean", 'visibility':"mean", 'windBearing':"mean", 'windSpeed':"mean",
                                                                                       'NDVI':"mean", 'Yield':"mean", 'year':"max"})

In [11]:
df2_2014.head()

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
0,Adams,Washington,0,19.448333,-2.028333,0.018333,7.061667,0.683333,0.000000,0.000000,...,0,1027.846667,25.023333,8.055000,9.998333,65.833333,4.691667,135.336891,35.6,2014
1,Adams,Washington,1,25.160000,5.945000,0.170000,12.493333,0.748333,0.000000,0.000000,...,0,1024.780000,25.160000,12.050000,9.921667,150.166667,0.991667,131.745382,35.6,2014
2,Adams,Washington,2,22.111667,6.661667,0.076667,15.650000,0.773333,0.000000,0.000000,...,0,1025.961667,29.646667,15.711667,9.355000,180.833333,5.546667,132.001272,35.6,2014
3,Adams,Washington,3,28.166667,8.843333,0.086667,18.106667,0.750000,0.000017,0.000233,...,0,1018.151667,32.463333,18.628333,9.671667,132.666667,4.383333,131.834915,35.6,2014
4,Adams,Washington,4,30.038333,22.323333,0.500000,25.768333,0.841667,0.002550,0.013850,...,0,1016.981667,31.941667,28.215000,7.711667,80.833333,2.873333,130.630046,35.6,2014

In [12]:
df2_2013[df2_2013['pressure'].isna()]

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
24699,Johnston,Oklahoma,37,20.624000,0.644000,0.0,3.484000,0.528000,0.0,0.0,...,0,NaN,28.936000,10.704000,10.000000,323.000000,4.974000,157.600000,33.6,2014
24700,Johnston,Oklahoma,53,51.774000,19.832000,0.0,20.118000,0.512000,0.0,0.0,...,0,NaN,51.774000,25.060000,10.000000,67.000000,5.572000,150.800000,33.6,2014
24701,Johnston,Oklahoma,101,80.386000,53.566000,0.0,48.862000,0.598000,0.0,0.0,...,0,NaN,82.164000,53.566000,9.742000,215.000000,5.630000,158.800000,33.6,2014
24702,Johnston,Oklahoma,133,81.172000,63.472000,0.0,60.544000,0.694000,0.0,0.0,...,0,NaN,80.554000,63.472000,10.000000,172.600000,13.964000,175.200000,33.6,2014
24703,Johnston,Oklahoma,149,75.324000,55.504000,0.0,41.056000,0.412000,0.0,0.0,...,0,NaN,75.324000,55.504000,9.292000,285.800000,5.072000,177.600000,33.6,2014
26936,Lamar,Texas,46,52.250000,24.930000,0.0,22.030000,0.480000,0.0,0.0,...,0,NaN,52.250000,31.060000,9.970000,287.000000,4.500000,142.000000,52.2,2014
26937,Lamar,Texas,110,69.961667,35.908333,0.0,31.045000,0.456667,0.0,0.0,...,0,NaN,69.961667,37.068333,9.885000,184.166667,1.953333,161.500000,52.2,2014
29725,Marshall,Oklahoma,37,21.430000,0.100000,0.0,2.810000,0.495000,0.0,0.0,...,0,NaN,30.111667,11.893333,10.000000,329.833333,5.981667,150.833333,35.5,2014
29726,Marshall,Oklahoma,53,52.426667,21.145000,0.0,19.853333,0.490000,0.0,0.0,...,0,NaN,52.426667,26.386667,10.000000,65.833333,5.886667,149.666667,35.5,2014
29727,Marshall,Oklahoma,101,80.341667,53.628333,0.0,48.761667,0.600000,0.0,0.0,...,0,NaN,81.971667,53.628333,9.643333,205.333333,6.380000,153.166667,35.5,2014
29728,Marshall,Oklahoma,133,81.323333,63.353333,0.0,60.038333,0.683333,0.0,0.0,...,0,NaN,80.670000,63.353333,10.000000,171.166667,14.760000,165.333333,35.5,2014
29729,Marshall,Oklahoma,149,76.016667,56.376667,0.0,39.996667,0.385000,0.0,0.0,...,0,NaN,76.016667,56.376667,9.385000,283.333333,4.721667,181.666667,35.5,2014

In [13]:
## Combining both datasets into one.
df = df2_2013.append(df2_2014)

In [116]:
df.head(20)

,CountyName,State,DayInSeason,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
0,Adams,Washington,0,31.896667,24.838333,0.303333,29.483333,0.928333,0.000117,0.002250,...,0,1026.718333,34.068333,27.396667,2.825000,166.333333,1.380000,131.792425,35.7,2013
1,Adams,Washington,1,41.881667,28.278333,0.178333,37.350000,0.873333,0.006667,0.037267,...,0,1012.293333,47.500000,33.525000,6.580000,212.333333,7.953333,131.634992,35.7,2013
2,Adams,Washington,2,39.118333,20.125000,0.046667,25.056667,0.628333,0.000233,0.003500,...,0,1008.456667,46.168333,29.596667,9.913333,261.000000,8.965000,140.914810,35.7,2013
3,Adams,Washington,3,22.208333,6.820000,0.051667,9.633333,0.496667,0.000083,0.000700,...,0,1022.330000,31.915000,16.205000,9.670000,14.666667,10.800000,138.661329,35.7,2013
4,Adams,Washington,4,23.566667,1.811667,0.013333,5.556667,0.605000,0.000000,0.000000,...,0,1028.120000,26.183333,10.880000,9.990000,75.666667,2.691667,136.871195,35.7,2013
5,Adams,Washington,5,16.603333,-1.230000,0.146667,5.796667,0.738333,0.000000,0.000000,...,0,1027.923333,20.253333,7.275000,9.793333,34.000000,2.326667,132.221169,35.7,2013
6,Adams,Washington,6,6.951667,-4.938333,0.050000,2.161667,0.596667,0.000000,0.000000,...,0,1025.996667,19.741667,8.228333,9.818333,27.500000,10.621667,135.866127,35.7,2013
7,Adams,Washington,7,12.288333,-10.086667,0.000000,-7.820000,0.455000,0.000000,0.000000,...,0,1027.831667,17.800000,1.606667,9.946667,63.833333,5.205000,135.851092,35.7,2013
8,Adams,Washington,8,12.851667,-13.568333,0.050000,-2.913333,0.608333,0.000000,0.000000,...,0,1033.423333,16.555000,-0.898333,9.921667,147.833333,2.945000,133.031980,35.7,2013
9,Adams,Washington,9,15.700000,-1.423333,0.040000,4.176667,0.635000,0.000000,0.000000,...,0,1033.105000,21.826667,7.406667,9.996667,76.833333,1.813333,134.787722,35.7,2013
10,Adams,Washington,10,26.098333,6.116667,0.026667,9.331667,0.693333,0.000000,0.000000,...,0,1031.941667,27.186667,11.640000,9.843333,233.666667,2.231667,135.175837,35.7,2013
11,Adams,Washington,11,30.706667,6.653333,0.135000,15.311667,0.726667,0.000000,0.000000,...,0,1031.541667,30.706667,14.960000,9.698333,122.666667,3.230000,134.112033,35.7,2013
12,Adams,Washington,12,27.563333,12.855000,0.080000,19.530000,0.806667,0.000667,0.007917,...,0,1024.563333,30.941667,17.630000,9.276667,115.333333,1.965000,131.541199,35.7,2013
13,Adams,Washington,13,31.446667,12.841667,0.045000,22.168333,0.818333,0.000150,0.002083,...,0,1027.458333,34.206667,19.205000,8.195000,134.666667,1.658333,131.407860,35.7,2013
14,Adams,Washington,14,32.688333,21.248333,0.100000,28.180000,0.870000,0.000017,0.000267,...,0,1029.356667,35.930000,27.095000,6.183333,84.166667,1.746667,132.151616,35.7,2013
15,Adams,Washington,15,39.743333,21.241667,0.043333,29.666667,0.845000,0.000000,0.000000,...,0,1025.818333,44.518333,27.065000,6.833333,181.666667,3.903333,134.526225,35.7,2013
16,Adams,Washington,16,41.765000,20.433333,0.036667,29.378333,0.870000,0.000000,0.000000,...,0,1028.971667,42.970000,26.481667,8.718333,225.833333,1.185000,135.429583,35.7,2013
17,Adams,Washington,17,34.708333,16.991667,0.036667,26.606667,0.891667,0.000000,0.000000,...,0,1021.310000,37.391667,22.865000,6.215000,134.833333,1.081667,132.022260,35.7,2013
18,Adams,Washington,18,32.850000,19.043333,0.073333,27.550000,0.848333,0.000033,0.000700,...,0,1015.043333,36.895000,27.795000,6.840000,271.666667,2.128333,131.038396,35.7,2013
19,Adams,Washington,19,29.753333,10.870000,0.033333,10.241667,0.511667,0.000000,0.000000,...,0,1022.781667,32.811667,19.055000,10.000000,315.333333,2.716667,138.101374,35.7,2013

In [31]:
df[['CountyName','Yield']].drop_duplicates()

      CountyName  Yield
0          Adams   35.7
186      Alfalfa   14.4
372        Allen   46.5
558     Anderson   45.6
744       Archer   13.1
...          ...    ...
30684  McPherson   45.8
30870      Meade   39.3
31056     Medina   33.9
31242     Menard   23.0
31428      Miami   50.1

[364 rows x 2 columns]

In [16]:
df_final = df.drop(columns=['CountyName', 'State','DayInSeason'])

In [20]:
df_final.sort_values(['apparentTemperatureMax', 'cloudCover'], ascending=[1, 0])

,apparentTemperatureMax,apparentTemperatureMin,cloudCover,dewPoint,humidity,precipIntensity,precipIntensityMax,precipProbability,precipAccumulation,precipTypeIsRain,...,precipTypeIsOther,pressure,temperatureMax,temperatureMin,visibility,windBearing,windSpeed,NDVI,Yield,year
22473,-34.923333,-52.920000,0.101667,-27.325000,0.721667,0.000000,0.000000,0.00,0.00000,0.0,...,0,1043.231667,-12.955000,-34.230000,8.135000,237.000000,10.036667,129.674362,38.8,2013
18198,-34.062500,-48.322500,0.000000,-26.645000,0.737500,0.000000,0.000000,0.00,0.00000,0.0,...,0,1040.370000,-15.132500,-28.155000,9.710000,310.750000,8.140000,130.785629,51.0,2013
18283,-31.052500,-39.177500,0.000000,-25.660000,0.692500,0.000575,0.006850,0.31,0.27025,0.0,...,0,1035.420000,-15.252500,-23.547500,6.660000,87.250000,3.625000,130.064381,51.0,2014
24957,-30.873333,-41.298333,0.010000,-26.370000,0.740000,0.000000,0.000000,0.00,0.00000,0.0,...,0,987.396667,-12.936667,-27.631667,9.620000,297.500000,5.548333,131.128886,43.2,2014
3168,-30.835000,-48.576667,0.041667,-27.325000,0.693333,0.000000,0.000000,0.00,0.00000,0.0,...,0,1041.773333,-10.771667,-30.800000,8.846667,250.333333,8.198333,130.252935,38.4,2013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24288,100.970000,71.680000,0.240000,70.680000,0.750000,0.000000,0.000000,0.00,0.00000,0.0,...,0,1006.850000,92.320000,71.680000,8.500000,142.000000,12.160000,147.605789,34.8,2014
26008,101.406667,76.120000,0.175000,77.053333,0.863333,0.000650,0.010917,0.50,0.00000,1.0,...,0,1010.015000,88.091667,76.120000,9.393333,146.000000,14.626667,147.265757,22.0,2015
26009,101.493333,79.135000,0.223333,77.991667,0.863333,0.000000,0.000000,0.00,0.00000,0.0,...,0,1012.746667,88.300000,79.135000,6.703333,133.166667,11.751667,159.803782,22.0,2015
24289,103.330000,71.800000,0.050000,68.460000,0.660000,0.000000,0.000000,0.00,0.00000,0.0,...,0,999.730000,103.860000,71.800000,7.150000,151.000000,6.030000,151.649826,34.8,2014
11338,118.123333,43.603333,0.185000,60.188333,0.858333,0.012733,0.069050,0.75,0.00000,1.0,...,0,1012.778333,86.731667,46.425000,9.226667,24.333333,3.511667,147.425321,13.2,2014

In [22]:
df_final.shape

(63010, 21)