#### This notebook uses the Overpass API from Open Street Maps to determine all the traffic signals within a given bounding box
#### The overpy library is used to send the request to the API and this call returns the latitude and longitude of all traffic signals
#### All the traffic intersections are then plotted on a map using Geopandas
#### Next, a traffic score is calculated as the 'Number of traffic intersections within a 1,000 ft buffer' to each point in the monitoring data

In [2]:
import overpy
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
from shapely.ops import nearest_points

import seaborn as sns

from mpl_toolkits.axes_grid1 import make_axes_locatable

import math

import time


from scipy.stats import boxcox


from matplotlib import cm

import matplotlib.lines as mlines

sns.set(style = 'whitegrid')
sns.set_palette('bright')
%matplotlib inline

####  Most of the code below is from <a href = "https://python-overpy.readthedocs.io/en/latest/introduction.html"> here </a>. Fetch all nodes using API Query. Here the node is specified as 'Highway - Traffic_signals'.

In [3]:
api = overpy.Overpass()
result = api.query("""
    node(37.68,-122.36,37.8712,-122.03) ["highway"="traffic_signals"];
    (._;>;);
    out body;
    """)
traffic_lat = []
traffic_lon = []
for node in result.nodes:
    traffic_lat.append(node.lat)
    traffic_lon.append(node.lon)

In [4]:
traffic_df = pd.DataFrame(list(zip(traffic_lat, traffic_lon)), columns = ['Latitude', 'Longitude'])

In [5]:
traffic_df.to_csv("Data/all_traffic_intersections.csv")

In [6]:
traffic_df.head()

     Latitude     Longitude
0  37.8282475  -122.2804753
1  37.8382510  -122.2961775
2  37.8465714  -122.2993871
3  37.8400139  -122.2978938
4  37.8374211  -122.2998935

### Load Air Pollution Monitoring Data

In [7]:
df = pd.read_csv('EDF_Data.csv', header = 1)
df.tail()

        Longitude   Latitude    NO Value  NO2 Value  BC Value
21483 -122.034943  37.560076  129.999995  44.778220  3.923761
21484 -122.034724  37.560164   60.799998  39.027545  1.408693
21485 -122.034681  37.559830   34.622951  28.816797  2.659885
21486 -122.034504  37.559958   74.764705  35.735434  1.776353
21487 -122.034503  37.559957   78.754782  41.062757  2.014664