In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import descartes
import geopandas as gpd
from shapely.geometry import Point, Polygon
from shapely.ops import nearest_points

from collections import defaultdict

from mpl_toolkits.axes_grid1 import make_axes_locatable

from matplotlib import cm

import matplotlib.lines as mlines

from geopy.geocoders import Nominatim

import osmnx as ox

%matplotlib inline

ImportError: cannot import name 'CRS' from 'pyproj' (/home/shridhar/anaconda3/lib/python3.7/site-packages/pyproj/__init__.py)

In [3]:
### Load Annual Average Daily Traffic (AADT) file from Caltrans
traffic = pd.read_csv('Data/Traffic_Oakland_AADT.csv', header = 0)

In [4]:
traffic.head()

,OBJECTID,District,Route,County,Postmile,Descriptn,Back_pk_h,Back_pk_m,Back_AADT,Ahead_pk_h,Ahead_pk_m,Ahead_AADT,Lat_S_or_W,Lon_S_or_W,Lat_N_or_E,Lon_N_or_E
0,2706,4,61,ALA,19.84,"ALAMEDA, BROADWAY/ ENCINAL AVENUE",1200,12600,12300,900,9000,8700,37.760570,-122.240825,37.760576,-122.240708
1,2707,4,61,ALA,21.27,"ALAMEDA, CENTRAL AVENUE/ SHERMAN STREET",600,6400,6200,900,9800,9500,37.770910,-122.263477,37.770910,-122.263477
2,2708,4,61,ALA,21.967,JCT. RTE. 260 NORTH,1600,17400,17000,0,0,0,37.771459,-122.276894,37.771459,-122.276894
3,3045,4,77,ALA,0.098,"OAKLAND, JCT. RTE. 880",0,0,0,1700,23400,22900,37.769482,-122.221232,37.769397,-122.221166
4,3046,4,77,ALA,0.365,"OAKLAND, EAST 12TH STREET",1700,23400,22900,1200,16800,16400,37.772128,-122.217493,37.772068,-122.217378

In [5]:
# Drop columns that are unneccessary
traffic.drop(columns = ['OBJECTID','District','Route','County', 'Postmile', 
                        'Back_pk_h', 'Back_pk_m', 'Ahead_pk_h', 'Ahead_pk_m'], inplace=True)

In [6]:
traffic.head()

,Descriptn,Back_AADT,Ahead_AADT,Lat_S_or_W,Lon_S_or_W,Lat_N_or_E,Lon_N_or_E
0,"ALAMEDA, BROADWAY/ ENCINAL AVENUE",12300,8700,37.760570,-122.240825,37.760576,-122.240708
1,"ALAMEDA, CENTRAL AVENUE/ SHERMAN STREET",6200,9500,37.770910,-122.263477,37.770910,-122.263477
2,JCT. RTE. 260 NORTH,17000,0,37.771459,-122.276894,37.771459,-122.276894
3,"OAKLAND, JCT. RTE. 880",0,22900,37.769482,-122.221232,37.769397,-122.221166
4,"OAKLAND, EAST 12TH STREET",22900,16400,37.772128,-122.217493,37.772068,-122.217378

In [177]:
traffic.shape

(95, 7)

## Use address to get the latitude and longitude of each junction using Open Street Maps
#### OSM is a reverse geocoding tool that to search OSM data by name and address to generate synthetic addresses of OSM points (rough latitude and longitude)

In [131]:
geolocator = Nominatim(user_agent="specify_your_app_name_here")

In [133]:
traffic_lat_long = []
for i in range(len(traffic)):
    location = geolocator.geocode(traffic.iloc[i,2])
#    back_aadt = traffic.loc[i,3]
#    front_aadt = traffic.loc[i,4]
#    print(back_aadt)
#    print(front_aadt)
    if location is not None:
        traffic_lat_long.append([location.latitude, location.longitude, location.address])

In [166]:
traffic_lat_long = []
for i in range(len(traffic)):
    location = geolocator.geocode(traffic.iloc[i,2])
    if location is not None:
        try:
            traffic_lat_long.append([location.latitude, location.longitude, location.address, traffic.iloc[i,3], traffic.iloc[i,4]])
        except:
            print(i)

In [160]:
location = geolocator.geocode("FREMONT,PASEO PADRE PARKWAY")

In [161]:
location.address

'Paseo Padre Parkway, Snoboy, Warm Springs District, Fremont, Alameda County, California, 94539, United States of America'

In [162]:
print((location.latitude, location.longitude))

(37.5058891, -121.9279452)

In [ ]:
print(location.raw)

In [ ]:
##